<h1 class="text-center">My lists</h1>

<%= render @lists %>

<div class="d-flex justify-content-center my-3">
  <%= link_to 'Create new List', new_list_path, class: 'btn btn-primary btn-lg' %>
</div>
