<%= link_to lists_path, class: 'btn btn-dark' do %>
  <i class="fas fa-arrow-left"></i>
<% end %>

<div class="list-group">
  <div class="list-group-item">
    <%= render 'items/item' %>
  </div>
</div>
