form.input-group.d-none class="form-#{item.id}"
  input.form-control type='text' placeholder="#{item.description}"
  input.form-control type='date'
  button.btn.btn-primary data-action='click->item#update' data-item="#{item.id}" Edit
