-list.items.each do |item|
  .card.my-3
    .list-group-item
      .d-flex.justify-content-between
        span= item.description
        = link_to item, class: 'btn btn-info', data: { reflex: 'click->ItemReflex#toggle', id: item.id }
          -if item.completed?
            i.far.fa-thumbs-up
          -else
            i.far.fa-thumbs-down
